body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#071426,#12365a);
color:white;
}


nav{
display:flex;
justify-content:space-between;
padding:25px 70px;
}


nav a{
color:white;
text-decoration:none;
margin:20px;
}


.hero{

display:flex;
justify-content:space-around;
align-items:center;
padding:80px;

}


.content{
width:50%;
}


h1{
font-size:50px;
}


h2{
color:#55c2ff;
}


p{
font-size:18px;
line-height:1.6;
}



.btn{

padding:15px 30px;
background:#00aaff;
color:white;
border-radius:30px;
text-decoration:none;
margin-right:20px;

}


.second{

background:white;
color:#12365a;

}


.ai-box{

background:rgba(255,255,255,.1);
padding:40px;
border-radius:20px;
text-align:center;

}


.circle{

font-size:60px;
background:#00aaff;
padding:30px;
border-radius:50%;

}


.cards{

display:flex;
justify-content:center;
gap:25px;

}


.cards div{

background:white;
color:#12365a;
padding:25px;
border-radius:15px;
width:200px;

}