<!DOCTYPE html>
<html>
<head>
    <title>Risk History</title>
</head>
<body>

    <h1>Risk Analysis History</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Risk Type</th>
            <th>Risk Score</th>
            <th>Severity</th>
            <th>Date</th>
        </tr>

        {% for row in reports %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[5] }}</td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>